#fondo {
    /* width: 80vw;
    height: 80vh; */
    background-color:black;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
  }


#anima {
    
    margin-top: 15vh;
    width: 240px;
    height: 240px;
    background-image: url('t1.svg');
    background-repeat: no-repeat;
    -webkit-animation-name: transicion; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: transicion;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  #titulo{
      margin-top: 5vh;
      text-align: center;
      color: white;
      margin-bottom: 20vh;
  }

  h1{
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: white; 
    margin: 0;
    text-align: center;
    }

  h2{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: white; 
    margin-bottom: 10vh;
    text-align: center;
    }

  
  /* Safari 4.0 - 8.0
  @-webkit-keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  } */
  
  /* Standard syntax */
  @keyframes transicion {
    0% {background-image: url('t1.svg');}
  12.5%  {background-image: url('t2.svg');}
  25%  {background-image: url('t3.svg');}
  37.5% {background-image: url('t4.svg');}
  50%  {background-image: url('t5.svg');}
  62.5%  {background-image: url('t6.svg');}
  75% {background-image: url('t7.svg');}
  87.5% {background-image: url('t8.svg');}
  100%  {background-image: url('t9.svg');}
  
  }