body {
    background-color: #e7f2f8;
    margin: 0%;
    padding: 0%;
  }

div.preloader {
    z-index: 99999;
    background: #e7f2f8;
    
}

div.preloader {
    width: 520px;
    height: 100%;
    position: relative;
    top: 0;
    left: 30%;
    right: 30%;
    
}
div.logo {
    z-index: 99999;
    background: #e7f2f8;
}

div.logo {
    
    
    position: relative;
    width: 236px;
    height: 60px;
    top: 8px;
    left: 0;
   
    
}
div.preloader2 {
    z-index: 99999;
    background: #fff;
    box-align: center;
}

div.preloader2 {
    
    position: relative;
    width: 520px;
    height: 80%;
    top: 5px;
    right: 0;
   
    
}
div.texto {
                            
    position: relative;
    width: 460px;
    height: 380px;
    top: 40px;
    left: 30px;
    right: 30px;
    
    
}

p.tex1 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
        }


div.rsoc {
    display: flex;           
    position: relative;
    width: 175px;
    height: 45px;
    top: 0px;
    left: 30px;
           
            
        }
div.ico1 {
    position: relative;
    left: 0px;
    width:  40px;
    height: 40px; 
    background-image: url("fb.svg");
}
div.ico2 {
    position: relative;
    left: 10px;
    width:  40px;
    height: 40px; 
    background-image: url("in.svg");
}
div.ico3 {
    position: relative;
    left: 20px;
    width:  40px;
    height: 40px; 
    background-image: url("tw.svg");
       
            
        }
div.ico1:hover {
    position: relative;
    left: 0px;
    background-image: url("fba.svg");        
            
    }
        
div.ico2:hover {
    position: relative;
    left: 10px;
    background-image: url("ina.svg");        
            
        }
div.ico3:hover {
    position: relative;
    left: 20px;
    background-image: url("twa.svg"); 
            
        }
div.ico1:active {
    position: relative;
    left: 0px;
    background-image: url("fbh.svg");        
            
    }
        
div.ico2:active {
    position: relative;
    left: 10px;
    background-image: url("inh.svg");        
            
        }
div.ico3:active {
    position: relative;
    left: 20px;
    background-image: url("twh.svg"); 
            
        }

div.txt2 {
                
             
    position: relative;
    width: 200px;
    height: 15px;
    top: 10px;
    left: 30px;
    right: 30px;
           
            
        }

div.txt3 {
                
               
    position: relative;
    width: 200px;
    height: 15px;
    top: -15px;
    left: 290px;
    right: 30px;
                   
                    
            }

 p.pol {
        color:  #0f7cb3;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 9px;
        }
            
 p.cop {
        text-align: right;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 9px;
        }




div.sep {
                
position: relative;
width: 500px;
height: 25px;
top:  -10px;
left: 10px;
           
            
        }

div.log {
                
               
    position: relative;
    width: 130px;
    height: 50px;
    top: 0px;
    left: 30px;
           
            
        }

div.foot {
               
             
    position: relative;
    width: 240px;
    height: 15px;
    top: -60px;
    left: 180px;
    right: 30px;
           
            
        }
p.nam {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 10px;
        }

div.foot2 {
                          
    position: relative;
    width: 240px;
    height: 40px;
    top: -75px;
    left: 180px;
    right: 30px;
           
            
        }

p.pues {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 9px;
        }
p.dir {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 9px;
        }

a.buttonrecover{
    background-color: #137eff;
    /* border-radius: 5px; */
    border: none;
    border-radius: 8px;
    clear: both;
    color: #ffffff;
    font-weight:  bold;
    text-decoration: none;
    cursor: pointer;
    font-size: 105%;
    float: left;
    line-height: 125%;
    margin:10px 140px 20px;
    padding: 15px 25px;
    vertical-align: middle;
    text-align: center;
    text-transform: none;
    font-family: "Flexo-Demi",arial,sans-serif;
}

a.buttonrecover:hover{
    background-color: #006bec;
    color: #ffffff;
    font-weight:  bold;
    box-shadow: 0 0 2px #103159;
}

a.buttonrecover:active{
    color: #ffffff;
    font-weight:  bold;
    box-shadow: 0 0 2px #103159;
    background-color: #103159;
}