<!doctype html>
<html class="no-js" lang="es">
<head>
    <!-- Etiqueta global de sitio (gtag.js) de Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127419181-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-127419181-1');
    </script>
    <meta http-equiv="Expires" content="0">  <meta http-equiv="Last-Modified" content="0">  <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">  <meta http-equiv="Pragma" content="no-cache">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="title" content="izzi flex - El Internet que se mueve contigo">
    <meta name="description" content="Internet inalámbrico con cobertura en las principales ciudades mexicanas. Sin plazos forzosos y con recarga inmediata vía web o app sin comisiones">
    <meta name="keywords" content="Internet, BAM, Móvil, Amigable, Confiable, Sencillo, Simple, Instantáneo, Simple, Servicio, Seguro, Contrato, Compra, Recarga, Útil, APP, Fácil">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="revisit-after" content="1 days">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>izzi flex - Detalle Flex</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="css/styleWebsite.css"> -->
    <script type="text/javascript">var _kmq = _kmq || [];
    var _kmk = _kmk || '22f7360a5974a3f8e3605a5cde202c4d892c81ee';
    function _kms(u){
    setTimeout(function(){
    var d = document, f = d.getElementsByTagName('script')[0],
    s = d.createElement('script');
    s.type = 'text/javascript'; s.async = true; s.src = u;
    f.parentNode.insertBefore(s, f);
    }, 1);
    }
    _kms('//i.kissmetrics.com/i.js');
    _kms('//scripts.kissmetrics.com/' + _kmk + '.2.js');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123285977-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-123285977-1');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PF3CXTT');</script>
    <!-- End Google Tag Manager -->
    <style>
        a[href^="http://maps.google.com/maps"]{display:none !important}
        a[href^="https://maps.google.com/maps"]{display:none !important}
        .gmnoprint a, .gmnoprint span, .gm-style-cc { display:none; }
        [v-cloak] { visibility: hidden;display: none; }
        .product-selectors-wrapper>.pure-g{justify-content:center}
        .product-selectors-wrapper{background-image:url('')};
    </style>
    <meta name="google-site-verification" content="8cIOKBM3fNif7kCgugtb97VQtbfpdWAjn5zkeV0icPo" />
</head>
<body class="detail">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PF3CXTT"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
        <div class="pure-g">
            <div class="pure-u-1 pure-u-sm-1-3 pure-u-md-5-24">
                <div class="logo flex-logo">
                    <a href="index.html"><img src="img/logos/flex-text-logo.png" alt="izzi flex"></a>
                </div>
            </div>
            <div id="menuSession" class="pure-u-1 pure-u-sm-2-3 pure-u-md-19-24 text-right" v-cloak>
              <div v-if="!this.sessionValue.valid">
                          <a href="preguntas-frecuentes.html" class="faq-link">Preguntas frecuentes</a>
                          <a href="tel:+01 800 120 0240" class="phone-link" onclick="recordEvent(kissmetricsEvent.telefono);">01 800 120 0240</a>
                <a href="login.html" class="pure-button login-button small" onclick="recordEvent(kissmetricsEvent.inicarSesion);">
                 <svg class="icon"><use xlink:href="img/icons/symbol-defs.svg#icon-user"></use></svg>
                 <span>INICIAR SESIÓN</span></a>
               </div>

              <div v-else class="pure-u-1 pure-u-sm-1-2 text-right">
                <div id="sessionAccion">
                  <div class="user-block">
                    <a href="#" class="user-toggle" onclick="$(this).parent().toggleClass('active'); return false;">
                      <span class="thumb"></span>
                      <span class="username">{{this.sessionValue.name}}</span>
                      <svg class="icon"><use xlink:href="img/icons/symbol-defs.svg#icon-caret-down"></use></svg>
                    </a>
                    <div class="user-options">
                      <p class="user-email small m-b-10">{{this.sessionValue.email}}</p>
                      <ul class="m-b-20" id="sessionValuehasPedidos">
                        <li><a href="micuenta-miflex.html">Mi Cuenta</a></li>
                        <li><a href="micuenta-pedido.html">Mis Pedidos</a></li>
                      </ul>
                      <a href="detalle-flex.html" class="pure-button white small" onclick="session.destroySession();">Cerrar sesión</a>
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="this.$store.getters.getFlexVendor.usersiebel !=''" class="pure-u-1 pure-u-sm-1-2 text-right">              
                    <div class="logo-holder text-logo m-b-40">
                      <a href="vendorlogin.html" class="pure-button white small mid-width" onclick="session.destroySession(); ">  Nueva venta  </a> 
                      <h7>
                          <div class="h5 mid aqua-text fw-bold m-b-40">Vendedor: {{this.$store.getters.getFlexVendor.vendorname}}</div> 
                      </h7>                      
                    </div>
              </div>
            </div>          
        </div>
    </header>
    <div class="main">
        <div class="pure-g">
            <div class="pure-u-1">
                <div class="breadcrumbs">
                    <a href="index.html" class="step previous">Inicio</a>
                    <div class="arrow"><svg class="icon"><use xlink:href="img/icons/symbol-defs.svg#icon-angle-right"></use></svg></div>
                    <a href="#" class="step current">izzi flex</a>
                </div>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1 pure-u-lg-custom-11-24 pure-u-md-custom-push-13-24">
                <div class="product-thumb has-info-boxes m-b-20">
                    <div class="package-box flex-5mb">
                        <span class="package-info"><span>Hasta</span> 5 Megas</span>
                        <span class="package-price">$200 mensuales</span>
                    </div>
                    <div class="package-box flex-10mb">
                        <span class="package-info"><span>Hasta</span> 10 Megas</span>
                        <span class="package-price">$350 mensuales</span>
                    </div>
                    <div class="package-box flex-20mb">
                        <span class="package-info"><span>Hasta</span> 20 Megas</span>
                        <span class="package-price">$500 mensuales</span>
                    </div>
                    <img src="img/dummy-img/thumbs/izzi-flex-thumb-3.png" alt="Izzi–flex–internet-inalámbrico-en-casa">
                </div>
            </div>
            <div class="pure-u-1 pure-u-lg-custom-13-24 pure-u-md-custom-pull-11-24">
                <div class="detail-desc">
                    <h1 class="smaller fw-bold">izzi flex</h1>
                    <h2 class="xsmall pink-text fw-semibold m-b-20">Módem inalámbrico que instalas tú mismo.</h2>
                    <div class="signup-info">
                        <div class="price">
                            <div class="h4 small pink-text fw-semibold">$1,000</div>
                        </div>
                        <div class="description">
                            <p class="small fw-medium">Incluye costo suscripción y primer mes de servicio</p>
                        </div>
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1">
                        <h2 class="xxsmaller fw-semibold m-b-10">Busca tu calle y número para verificar la opción que más te convenga.</h2>
                        <div class="common-panel alt-gray min m-b-20">
                            <form id="flex_buscadireccion_form">
                                <div id="autocomplete-component" class="ctrl-holder search-input has-bg">
                                    <label for="flex_buscadireccion_calle" class="placeholder">Ingresa tu dirección</label>
                                    <input type="text" name="flex_buscadireccion_calle" id="flex_buscadireccion_calle" placeholder="" required>
                                    <svg class="icon on-valid"><use xlink:href="img/icons/symbol-defs.svg#icon-check"></use></svg>
                                    <svg class="icon on-error"><use xlink:href="img/icons/symbol-defs.svg#icon-error"></use></svg>
                                    <button v-on:click="buttonSearchOnClickListener" type="button"><svg class="icon"><use xlink:href="img/icons/symbol-defs.svg#icon-search"></use></svg></button>
                                </div>
                                <div v-show="visibility" id="map-component" v-cloak >       
                                    <div id="map_block" class="map-holder small">
                                        <div id="div_map" style="height: 100%; object-fit: cover; width: 100%;"></div>
                                    </div>
                                </div>                              
                                <div v-show="visibility" id="coverage-component" v-cloak >
                                    <div class="text-center" style="margin-top: 20px; margin-bottom: 20px;">        
                                        <span class="fw-bold pink-text" style="margin-right: -3px">Felicidades</span>
                                        <span class="fw-semibold">, velocidad disponible en tu ubicación</span>
                                    </div>
                                    <div class="text-center">
                                        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3" v-for="(item, index) in products">
                                            <div class="product-selector text-center" >
                                                <input  :id="'flex_'+index+'m'" v-bind:value="index" v-model="indexSelectedProduct" type="radio" name="paqueteflex" >
                                                <label v-if="item.keySpeed != 'F20MP'" :for="'flex_'+index+'m'">
                                                    <span class="indicator"></span>
                                                    <div class="contents">
                                                        <div class="product-info">{{ item.productDescription }}</div>
                                                        <div class="product-price">${{ item.regularProductCost }} al mes</div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div v-show="visibility" id="continue-component" v-cloak >  
                                    <div class="location-action text-center">
                                        <button class="pure-button primary mobile-expand m-b-0 sm-m-b-10" v-on:click="onClickListener">{{label.text}}</button>
                                    </div>
                                </div>
                                <div v-show="visibility" id="continue-flex-component" v-cloak >
                                    <div class="location-action text-center">
                                        <button class="pure-button primary mobile-expand m-b-0 sm-m-b-10" v-on:click="onClickListener">{{label.text}}</button>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                <h2 class="xxsmaller fw-semibold m-b-20">Características</h2>
            </div>
        </div>
        <div class="product-features-grid inline-pf small-text m-b-30">
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-2 m-b-20">
                    <div class="graphic"><img src="img/dummy-img/misc/antenas-small-icon.svg" alt=""></div>
                    <span>2 antenas para salida y 2 antenas para recepción de señal</span>
                </div>
                <div class="pure-u-1 pure-u-md-1-2 m-b-20">
                    <div class="graphic"><img src="img/dummy-img/misc/velocidad-small-icon.svg" alt=""></div>
                    <span>Hasta 20 Megas de velocidad</span>
                </div>
                <div class="pure-u-1 pure-u-md-1-2 m-b-20">
                    <div class="graphic"><img src="img/dummy-img/misc/red-small-icon.svg" alt=""></div>
                    <span>Ideal para tareas, trabajos escolares, descarga de videos, streaming.</span>
                </div>
                <div class="pure-u-1 pure-u-md-1-2 m-b-20">
                    <div class="graphic"><img src="img/dummy-img/misc/sinplazos-small-icon.svg" alt=""></div>
                    <span>Sin plazos forzosos</span>
                </div>
                <div class="pure-u-1 pure-u-md-1-2 m-b-20">
                    <div class="graphic"><img src="img/dummy-img/misc/recarga-small-icon.svg" alt=""></div>
                    <span>Buena cobertura en interiores.</span>
                </div>
                <div class="pure-u-1 pure-u-md-1-2 m-b-20">
                    <div class="graphic"><img src="img/dummy-img/misc/recarga-small-icon.svg" alt=""></div>
                    <span>Recarga inmediata vía web o app sin comisiones</span>
                </div>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                <h2 class="xxsmaller fw-semibold m-b-20 text-center">Ciudades con cobertura y servicio</h2>
                <div class="pure-g">
                    <div class="pure-u-1">
                        <div class="cities-list">
                            <div class="city"><span>AGUASCALIENTES</span></div>
                            <div class="city"><span>CELAYA</span></div>
                            <div class="city"><span>CIUDAD DE MÉXICO</span></div>
                            <div class="city"><span>COLIMA</span></div>
                            <div class="city"><span>ESTADO DE MÉXICO</span></div>
                            <div class="city"><span>GUADALAJARA</span></div>
                        </div>
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1">
                        <div class="cities-list last">
                            <div class="city"><span>LEÓN</span></div>
                            <div class="city"><span>MORELIA</span></div>
                            <div class="city"><span>MONTERREY</span></div>
                            <div class="city"><span>PUEBLA</span></div>
                            <div class="city"><span>QUERÉTARO</span></div>
                            <div class="city"><span>TEPIC</span></div>
                        </div>
                    </div>
                </div>
                <p class="fw-bold text-center m-b-40"><a href="#ciudades" class="full-popup common-link primary-text">Consulta más ciudades</a></p>
            </div>
        </div>
    </div>
    <div class="mobile-chat-holder">
        <a href="#" class="mobile-chat-btn" onclick="window.open('chat.html', 'Chat', 'width=500,height=730'); recordEvent(kissmetricsEvent.chat);">
            <svg class="icon"><use xlink:href="img/icons/symbol-defs.svg#icon-chat"></use></svg>
            <span>Chat</span>
        </a>
    </div>
    <div id="footer-wrapper" v-cloak>
        <component-footer-dark></component-footer-dark>
    </div>
    <a href="#" class="chat-btn" onclick="window.open('chat.html', 'Chat', 'width=500,height=730'); recordEvent(kissmetricsEvent.chat);">
        <svg class="icon"><use xlink:href="img/icons/symbol-defs.svg#icon-chat"></use></svg>
        <span>Chat</span>
    </a>
    <div id="popup-flex-plus-component" v-cloak >
        <a href="#flex_plus" ref="popup_flex_plus" class="popup"></a>
        <div class="mfp-hide">
            <div id="flex_plus" class="modal-wrapper flex-modal mid-large">
                <div class="modal-contents text-center">
                    <a href="#" class="close-modal"><svg class="icon"><use xlink:href="img/icons/symbol-defs.svg#icon-close"></use></svg></a>
                    <h2 class="xsmall fw-semibold pink-text m-b-10">Tenemos una opción especial para ti</h2>
                    <div class="router-thumb">
                        <img src="img/dummy-img/misc/flex-white-router.png" alt="Módem Flex">
                        <div class="package-box">
                            <span class="package-info"><span>Hasta</span> 20 Megas</span>
                            <span class="package-price">$450 mensuales</span>
                        </div>
                    </div>
                    <h3 class="fw-semibold">flex 20 plus</h3>
                    <p class="fw-medium">Costo de suscripción $2,000. <span class="pink-text">Incluye 1 mes de servicio</span> y el módem B612</p>
                    <div class="product-features-grid inline-pf text-left small-text m-b-10">
                        <div class="pure-g">
                            <div class="pure-u-1 pure-u-md-7-12 pure-u-md-offset-5-24 m-b-15">
                                <div class="graphic"><img src="img/dummy-img/misc/antenas-small-icon.svg" alt=""></div>
                                <span>4 antenas de salida y 4 de entrada para una mayor eficacia en la señal</span>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-2 m-b-15">
                                <div class="graphic"><img src="img/dummy-img/misc/recarga-small-icon.svg" alt=""></div>
                                <span>Excelente cobertura en interiores aún con obstáculos</span>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-2 m-b-15">
                                <div class="graphic"><img src="img/dummy-img/misc/red-small-icon.svg" alt=""></div>
                                <span>Ideal para ambientes con muchos dispositivos a conectarse</span>
                            </div>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-1 pure-u-md-1-2">
                            <button v-on:click="buttonFlex20onClickListener" class="pure-button primary min mobile-expand m-b-0 sm-m-b-20" type="button">{{buttonFlex20.label.text}}</button>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-2">
                            <button v-on:click="buttonFlex20PlusonClickListener" class="pure-button white min mobile-expand" type="button">{{buttonFlex20Plus.label.text}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="alert-address-component" v-cloak >
    <!-- <div id="alert-address-component"> -->
        <a href="#flex_alert_address" ref="alert_address_show" class="popup">...</a>
        <div class="mfp-hide">
            <div id="flex_alert_address" class="modal-wrapper flex-modal mid-large">
                <div class="modal-contents text-center">
                    <a href="#" ref="alert_address_hide" class="close-modal"><svg class="icon"><use xlink:href="img/icons/symbol-defs.svg#icon-close"></use></svg></a>
                    <h2 class="xsmall fw-semibold pink-text m-b-10">Por favor modifica tu dirección</h2>
                    <p class="fw-medium">
                    Puedes emplear la <span class="pink-text">caja de búsqueda</span> o arrastrar el pin en el  <span class="pink-text">mapa</span>
                    </p>
                    <div class="pure-g text-center">
                        <div class="pure-u-1">
                            <button v-on:click="buttonOkOnClickListener" class="pure-button primary mobile-expand m-b-20">{{buttonOk.label.text}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="mfp-hide">
        <div id="selector_paquete_flex" class="modal-wrapper large">
            <div class="modal-contents">
                <a href="#" class="close-modal"><svg class="icon"><use xlink:href="img/icons/symbol-defs.svg#icon-close"></use></svg></a>
                <p class="text-center">
                    <span class="fw-bold pink-text">¡Felicidades!</span><br>
                    <span class="fw-semibold">Hemos encontrado cobertura en tu dirección:</span><br>
                    <span class="valid-address">Calzada Madero#311,Colonia centro,CDMX.</span>
                </p>
                <p class="large fw-bold text-center">Selecciona tu velocidad de Internet:</p>
                <form action="">
                    <div class="product-selectors-wrapper no-bg">
                        <div class="pure-g">
                            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                <div class="product-selector">
                                    <input type="radio" name="paqueteflex" id="flex_5m" value="Flex 5 Megas" required checked>
                                    <label for="flex_5m">
                                        <span class="indicator"></span>
                                        <div class="contents">
                                            <div class="product-info">flex 5</div>
                                            <div class="product-price">$200 mensuales</div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                <div class="product-selector">
                                    <input type="radio" name="paqueteflex" id="flex_10m" value="Flex 10 Megas">
                                    <label for="flex_10m">
                                        <span class="indicator"></span>
                                        <div class="contents">
                                            <div class="product-info">flex 10</div>
                                            <div class="product-price">$350 mensuales</div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                <div class="product-selector">
                                    <input type="radio" name="paqueteflex" id="flex_20m" value="Flex 20 Megas">
                                    <label for="flex_20m">
                                        <span class="indicator"></span>
                                        <div class="contents">
                                            <div class="product-info">flex 20</div>
                                            <div class="product-price">$500 mensuales</div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="pure-g text-center">
                            <div class="pure-u-1">
                                <p class="large text-center">Costo de suscripción $1,000<br><span class="fw-bold pink-text">Incluye el primer mes de servicio</span></p>
                                <button class="pure-button primary mobile-expand m-b-20" type="submit">Comprar flex</button>
                            </div>
                        </div>
                    </div>
                </form>
                <p class="text-center m-b-0"><a href="#" class="common-link primary-text popup-close">Regresar</a></p>
            </div>
        </div>
        <div id="ciudades" class="modal-wrapper largest">
            <div class="modal-contents map-modal">
                <a href="#" class="close-modal"><svg class="icon"><use xlink:href="img/icons/symbol-defs.svg#icon-close"></use></svg></a>
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-push-1-2 pure-u-md-1-2">
                        <div class="pure-g">
                            <div class="pure-u-1 pure-u-sm-custom-1-2 pure-u-md-1-2">
                                <p class="aqua-text fw-semibold m-b-0">Aguascalientes</p>
                                <ul class="common-list m-b-15">
                                    <li>Real de Asientos</li>
                                    <li>San José de Gracia</li>
                                </ul>
                                <p class="aqua-text fw-semibold m-b-0">Colima</p>
                                <ul class="common-list m-b-15">
                                    <li>Comala</li>
                                </ul>
                                <p class="aqua-text fw-semibold m-b-0">Estado de México</p>
                                <ul class="common-list m-b-15">
                                    <li>El Oro de Hidalgo</li>
                                    <li>Metepec</li>
                                    <li>San Martín de las Pirámides</li>
                                    <li>Tepotzotlán</li>
                                    <li>Valle de Bravo</li>
                                    <li>Villa del Carbón</li>
                                </ul>
                                <p class="aqua-text fw-semibold m-b-0">Guanajuato</p>
                                <ul class="common-list m-b-15">
                                    <li>Jalpa de Cánovas</li>
                                </ul>
                                <p class="aqua-text fw-semibold m-b-0">Hidalgo</p>
                                <ul class="common-list m-b-15">
                                    <li>Huasca de Ocampo</li>
                                    <li>Huichapan</li>
                                    <li>Mineral del Chico</li>
                                    <li>Tecozautla</li>
                                </ul>
                            </div>
                            <div class="pure-u-1 pure-u-sm-custom-1-2 pure-u-md-1-2">
                                <p class="aqua-text fw-semibold m-b-0">Jalisco</p>
                                <ul class="common-list m-b-15">
                                    <li>San Sebastián del Oeste</li>
                                    <li>Tapalpa</li>
                                    <li>Tequila</li>
                                </ul>
                                <p class="aqua-text fw-semibold m-b-0">Michoacán</p>
                                <ul class="common-list m-b-15">
                                    <li>Mineral del Angangueo</li>
                                    <li>Cuitzeo del Porvenir</li>
                                    <li>Jiquilpan de Juárez</li>
                                </ul>
                                <p class="aqua-text fw-semibold m-b-0">Morelos</p>
                                <ul class="common-list m-b-15">
                                    <li>Tepoztlán</li>
                                    <li>Tlayacapan</li>
                                </ul>
                                <p class="aqua-text fw-semibold m-b-0">Nayarit</p>
                                <ul class="common-list m-b-15">
                                    <li>Jala</li>
                                </ul>
                                <p class="aqua-text fw-semibold m-b-0">Nuevo León</p>
                                <ul class="common-list m-b-15">
                                    <li>Linares</li>
                                    <li>Santiago</li>
                                </ul>
                                <p class="aqua-text fw-semibold m-b-0">Querétaro</p>
                                <ul class="common-list m-b-15">
                                    <li>Bernal</li>
                                    <li>Tequisquiapan</li>
                                </ul>
                                <p class="aqua-text fw-semibold m-b-0">Zacatecas</p>
                                <ul class="common-list">
                                    <li>Teúl de González Ortega</li>
                                    <li>Nochistlán de Mejía</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="pure-u-1 pure-u-md-pull-1-2 pure-u-md-1-2">
                        <div class="">
                            <img src="img/dummy-img/misc/mexico-map.png" alt="Mapa de México">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/main.min.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPR0dtsbXCK_NFFRNOHdJ4jurJ6PYZq68&libraries=places&sensor=false"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vuex@3.0.1/dist/vuex.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="actions/contratacion-servicio-actions.js"></script>
    <script src="actions/consulta-cobertura-actions.js"></script>
    <script src="actions/login-actions.js"></script>
    <script src="actions/profile-actions.js"></script>
    <script src="vuex/store-common.js"></script>
    <script src="utils/environment.js"></script>
    <script src="utils/environment-kissmetrics.js"></script>
    <script src="utils/session.js"></script>
    <script src="utils/menu-session.js"></script>
    <script src="components/contratacion-servicio.js"></script>
    <script src="components/components-coverage.js"></script>
    <script src="components/detalle-flex.js"></script>
    <script src="components/footer.vue"></script>
    <script>
      recordEvent(kissmetricsEvent.pageViewDetalleFlex);
    </script>
</body>
</html>