body {
    background-color: #e7f2f8;
  }

div.preloader {
    z-index: 99999;
    background: #e7f2f8;
    align: center;
}

div.preloader {
    
    width: 500px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 30%;
    right: 30%;
    
}

div.preloader2 {
    z-index: 99999;
    background: #fff;
    align: center;
}

div.preloader2 {
    
    
    position: relative;
    width: 500px;
    height: 100%;
    top: 80px;
    right: 0;
   
    
}
div.logo {
    z-index: 99999;
    background: #e7f2f8;
    align: center;
}

div.logo {
    
    
    position: absolute;
    width: 236px;
    height: 100px;
    top: 0;
    left: 0;
   
    
}
div.texto {
    
    
    position: absolute;
    width: 440px;
    height: 345px;
    top: 30px;
    left: 30px;
    right: 30px;
    
    
}
 
p.tex1 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
        }
img.ico {
    position: absolute;
    left: 0px;
    top: 11px;
    
  }

  div.rsoc {
    
    
    position: absolute;
    width: 45px;
    height: 175px;
    top: 335px;
    left: 26px;
   
    
}

img.ico1 {
    position: absolute;
    left: 0px;
    
    
  }

  img.ico2 {
    position: absolute;
    left: 55px;
    
    
  }
  img.ico3 {
    position: absolute;
    left: 110px;
   
    
  }

  div.txt2 {
    
    
    position: absolute;
    width: 440px;
    height: 345px;
    top: 390px;
    left: 30px;
    right: 30px;
   
    
}
div.txt3 {
    
    
    position: absolute;
    width: 440px;
    height: 345px;
    top: 390px;
    left: 30px;
    right: 30px;
   
    
}

p.pol {
    color:  #0f7cb3;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
        }

p.cop {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
             }

div.ilu {
    
    
    position: absolute;
    width: 45px;
    height: 175px;
    top: 425px;
    left: 70px;
   
    
}

img.ilus {
    position: absolute;
    left: 0px;
    
    
  }

div.sep {
    
    
    position: absolute;
    width: 45px;
    height: 175px;
    top: 525px;
    left: 0px;
   
    
}

img.ilus2 {
    position: absolute;
    left: 0px;
    
    
  }
div.log {
    
    
    position: absolute;
    width: 45px;
    height: 175px;
    top: 645px;
    left: 26px;
   
    
}

img.log2 {
    position: absolute;
    left: 0px;
    
    
  }

div.foot {
    
    
    position: absolute;
    width: 240px;
    height: 345px;
    top: 635px;
    left: 176px;
    right: 30px;
   
    
}

p.nam {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 10px;
             }
div.foot2 {
    
    
    position: absolute;
    width: 240px;
    height: 60px;
    top: 645px;
    left: 176px;
    right: 30px;
   
    
}
p.pues {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 9px;
             }
p.dir {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 9px;
             }