body {
    background-color: #e7f2f8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
    margin: 0;
  }

.emailWraper {
    flex-direction: column;
    z-index: 99999;
    background: #e7f2f8;
    max-width: 35rem;    
    min-width: 5rem;
    margin: auto;
    display: flex;
}

.emailHeader {
    width: 100%;
    margin: .8rem 0;
    text-align: center;
}

img {
    vertical-align: middle;
}

.emailBody {
    z-index: 99999;
    background: #fff;
    padding: 2.5rem 2.5rem 1rem 2.5rem;
    box-sizing: border-box;
    border-radius: .5rem .5rem 0 0;
}

.emailBody .message {
    display: inline-block;
    margin: 0 0 1rem 0;
}

.emailBody .message h2{
    margin: 0 0 2rem 0;
}

.emailBody .message p:last-child{
    margin-bottom: 0;
}

.emailFooter {
    background: #fff;
    padding: 0 2.5rem;
}

.redessociales{
    display: flex;
    margin-bottom: 2rem;
}

.redessociales img{
    margin-right: 1rem
}

.ilustration {
    text-align: center;
    margin-top: 1rem;
}

.ilustration img {
    display: block;
    width: 100%;
}

.rights{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}


.lakmiFooter{
    display: flex;
    padding: 2rem 0;
    align-items: center;
}


.bold {
    font-weight: 800 !important;
}

.lakmiLogo{
    margin-right: 2rem;
    max-width: 100%;
}
           
.lakmiInfo p{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: .55rem;
}

.lakmiInfo p:first-child{
    margin: 0;
    font-size: .7rem;
}

.lakmiInfo p:nth-child(2){
    margin-bottom: .7rem;
    font-size: .7rem;
}