body {
    background-color: #e7f2f8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
    margin: 0;
  }

#emailW {
    flex-direction: column;
    z-index: 99999;
    background: #e7f2f8;
    max-width: 45rem;    
    min-width: 5rem;
    margin: auto;
    display: flex;
}

#emailH {
    width: 100%;
    margin: .8rem 0;
    
}

img {
    vertical-align: middle;
}

#emailB {
    z-index: 99999;
    background: #fff;
    padding: 2.5rem 2.5rem 1rem 2.5rem;
    box-sizing: border-box;
    border-radius: .5rem .5rem 0 0;
}

#emailB .mes {
    display: inline-block;
    margin: 0 0 1rem 0;
}

#emailB .mes h3{
    margin: 1rem 0 2rem 0;
}

#emailB .mes p:last-child{
    margin-bottom: 0;
}

#emailF {
    background: #fff;
    padding: 0 2.5rem;
}

.redessociales{
    display: flex;
    margin-bottom: 2rem;
}

.redessociales img{
    margin-right: 1rem
}


.ilustration {
    text-align: center;
    margin-top: 1rem;
}

.ilustration img {
    display: block;
    width: 100%;
}

.rights{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}


.lakmiFooter{
    display: flex;
    padding: 2rem 0;
    align-items: center;
}


.bold {
    font-weight: 800 !important;
}

.lakmiLogo{
    margin-right: 2rem;
    max-width: 100%;
}
           
.lakmiInfo p{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: .55rem;
}

.lakmiInfo p:first-child{
    margin: 0;
    font-size: .7rem;
}

.lakmiInfo p:nth-child(2){
    margin-bottom: .7rem;
    font-size: .7rem;
}

a.buttonrecover{
    border-style: solid;
    background-color: white; 
    border-radius: 8px;
    clear: both;
    color: #137eff;
    font-weight:  bold;
    text-decoration: none;
    cursor: pointer;
    font-size: 105%;
    float: left;
    line-height: 125%;
    margin:10px 140px 20px;
    padding: 15px 25px;
    vertical-align: middle;
    text-align: center;
    text-transform: none;
    font-family: "Flexo-Demi",arial,sans-serif;
}

a.buttonrecover:hover{
    background-color: white;
    color: #006bec;
    font-weight:  bold;
    box-shadow: 0 0 2px #103159;
}

a.buttonrecover:active{
    font-weight:  bold;
    box-shadow: 0 0 2px #003F5B;
    background-color: #F2F2F2;
    color: #003F5B;
}