<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        img {
            border-radius: 8px;
        }
    </style>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Crear cuenta</title>
    <!-- Custom CSS -->
    <link href="dist/css/style.css" rel="stylesheet">
    <!-- Custom modals CSS -->
    <link href="dist/css/modal.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- Validation Script -->
    <script src="validations.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>



    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
            style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">
            <div class="auth-box">
                <div>
                    <div class="logo">
                        <span class="db"><img src="assets/images/logo.svg" alt="logo" width="190px"
                                class="light-logo" /></span>
                        <h5 class="font-medium m-b-20"></h5>
                        
                        <span>Cambiar contraseña</span>
                    </div>
                    <!-- Form -->
                    <div class="row row m-t-20">
                        <div class="col-12">
                            <div submit="return false" id="registerFormComponent" novalidate>
                               
                                <div class="form-group">
                                    <input v-model="password.value"
                                        v-on:change.prevent="password.validationMessage = true"
                                        v-bind:class="{ invalid : invalidPasswordError && password.validationMessage }"
                                        id="password" class="form-control form-control-lg" type="password" required
                                        placeholder="Ingrese su nueva contraseña" minlength="6">
                                    <label v-if="invalidPasswordError && password.validationMessage"
                                        class="invalid-text">{{invalidPasswordError}}</label>
                                </div>
                                <div class="form-group">
                                    <input v-model="passwordConfirmation.value"
                                        v-bind:class="{ invalid : invalidPasswordConfirmationError && passwordConfirmation.validationMessage }"
                                        v-on:input.prevent="passwordConfirmation.validationMessage = true"
                                        class="form-control form-control-lg" type="password" required
                                        pattern="[A-Za-z0-9_-]{1,15}" placeholder="Confirme su nueva contraseña" minlength="6">
                                    <label
                                        v-if="invalidPasswordConfirmationError && passwordConfirmation.validationMessage"
                                        class="invalid-text">{{invalidPasswordConfirmationError}}</label>
                                </div>
                               
                               
                                <div class="form-group">
                                    <button v-if="waitingForResponse" class="btn btn-block btn-lg btn-info"
                                        type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        <span class="sr-only">Loading...</span>
                                    </button>
                                    <button v-on:click="onSubmitEventListener" v-else class="btn btn-block btn-lg btn-info ">Cambiar contraseña</button>
                                    <div class="modal fade" id="modal" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="false">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">{{modal.title}}</h5>
                                                </div>
                                                <div class="modal-body">
                                                    {{modal.message}}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-block btn-lg btn-info"
                                                        data-dismiss="modal">Entiendo</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal m-04-->
  <div class="modal fade" id="m-04" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="border-color:white">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- <h4 class="modal-title">Modal Header</h4> -->
          <div id="dicon">  
                <img src="assets/images/modals/repass.svg" alt="" width="150">
            </div> 
        </div>
        <div class="modal-body" style="border-color:white">
                
                    
                        <div id="dtitle">
                            <h1 id="titulo">Muchas gracias</h1>
                        </div>
                        <div id="texto">
                            <p>
                                 
                                
                                    Tu contraseña ha sido recuperada satisfactoriamente
    
                            
                            </p>
                        </div>    
                
        </div>
        <div class="modal-footer"style="border-color:white">
                <div id="boton">
                        <button id="bot" class="btn btn-block btn-lg btn-danger" type="button"
                            name="action"> <img src="assets/images/modals/miconcheckbot.svg" alt="" width="46px" data-dismiss="modal"> <h3>Aceptar</h3></button>
                        <br>
                        
                </div>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
<!-- Modal m-04-->
            <!-- ============================================================== -->
            <!-- Login box.scss -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Page wrapper scss in scafholding.scss -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Page wrapper scss in scafholding.scss -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right Sidebar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right Sidebar -->
            <!-- ============================================================== -->
        </div>
    </div>

    <style>
        .invalid {
            border-color: red !important;
            border-style: solid !important;
            border-width: 1.5 !important;
            background-color: #FFEFF0 !important;
        }

        .valid {
            border-color: #9fcbe1;
            border-style: solid;
            border-width: 1.5;
            background-color: #ecf5f9;
        }

        .invalid-text {
            font-size: .8rem;
            margin: .5rem 0 0 0;
            font-weight: unset !important;
            color: red;
        }
    </style>

    <!-- ============================================================== -->
    <!-- Configuration files -->
    <!-- ============================================================== -->
    <script src="dist/config/environment.js"></script>



    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="assets/libs/jquery/dist/jquery.min.js "></script>


    <!-- ============================================================== -->
    <!-- Vue -->
    <!-- ============================================================== -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>


    <!-- ============================================================== -->
    <!-- Vuex -->
    <!-- ============================================================== -->
    <script src="https://unpkg.com/vuex@3.0.1/dist/vuex.min.js "></script>


    <!-- ============================================================== -->
    <!-- Axios -->
    <!-- ============================================================== -->
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>


    <!-- ============================================================== -->
    <!-- Actions -->
    <!-- ============================================================== -->
    <script src="dist/vuex/actions/sessionActions.js"></script>
    <script src="dist/vuex/actions/userActions.js"></script>


    <!-- ============================================================== -->
    <!-- Store -->
    <!-- ============================================================== -->
    <script src="dist/vuex/store-common.js"></script>


    <!-- ============================================================== -->
    <!-- Vue component -->
    <!-- ============================================================== -->
    <script src="dist/components/registerFormComponent.js"></script>


    <!-- ============================================================== -->
    <!-- Utils -->
    <!-- ============================================================== -->
    <script src="dist/components/utils/users.js"></script>
    <script src="dist/components/utils/sessions.js"></script>


    <!-- ============================================================== -->
    <!-- Flows -->
    <!-- ============================================================== -->
    <script src="dist/flows/flow_register.js"></script>


    <!-- Bootstrap tether Core JavaScript -->
    <script src="assets/libs/popper.js/dist/umd/popper.min.js "></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.min.js "></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
        $('[data-toggle="tooltip "]').tooltip();
        $(".preloader ").fadeOut();
    </script>
</body>

</html>