<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        img {
            border-radius: 8px;
        }
    </style>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Iniciar Sesión</title>
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="dist/css/style.min.css" rel="stylesheet">
    <link href="dist/css/spinners.css" rel="stylesheet">
    <!-- Custom modals CSS -->
    <link href="dist/css/modal.css" rel="stylesheet">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i"
        rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

    <!-- SPINNER DE CARGAR -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- IMAGEN DE FONDO -->
    <div class="position-fixed vw-100 vh-100" style="background:url(assets/images/big/auth-bg.jpg) no-repeat center">
    </div>


    <div class="auth-wrapper auth-box row  align-items-center justify-content-center vh-100 vw-100 no-gutters">

        <div>
            <!-- CAJA -->
            <div id="loginform" class="col bg-white p-4 justify-content-center rounded-lg"
                style="min-width: 400px; max-width: 400px;">

                <!-- LOGO -->
                <div class="text-center mb-4">
                    <img src="assets/images/logo.svg" alt="logo" class="rounded-lg" width="190px" />
                </div>


                <!-- FORMULARIO -->
                <div id="loginFormComponent">
                    <form v-on:submit="onSubmitEventListener" id="loginForm" action="index.html">

                        <!-- NOMBRE DE USUARIO -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="ti-user" id="ius"></i></span>
                            </div>
                            <input v-model="username" id="username" name="username" class="form-control form-control-lg"
                                type="text" placeholder="Nombre de usuario">

                        </div>
                        <!-- CONTRASEÑA -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"
                                        id="pen"></i></span>
                            </div>
                            <input v-model="password" id="password" name="password" class="form-control form-control-lg"
                                type="password" placeholder="Contraseña">


                        </div>

                        <!-- Recordar cuenta / olvidaste tu pass-->


                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="checkbox" class="custom-control-input"
                                        id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Recordar</label>
                                    <a href="javascript:void(0)" id="to-recover" class="text-dark float-right"><i
                                            class="fa fa-lock m-r-5"></i>
                                        ¿Olvidaste tu contraseña?</a>
                                </div>
                            </div>
                        </div>
                        <!-- BOTONES -->
                        <div class="form-group">
                            <!-- Boton iniciar sesión -->
                            <button id="submit-login" class="btn btn-block btn-lg btn-info" data-toggle="modal">Iniciar
                                sesión</button>
                        </div>

                        <!-- Redes Sociales -->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 m-t-10 text-center">
                                    <a href="javascript:void(0)" class="btn  btn-facebook" data-toggle="tooltip"
                                        title="" data-original-title="Iniciar sesión con Facebook"> <i
                                            aria-hidden="true" class="fab  fa-facebook"></i> </a>
                                    <a href="javascript:void(0)" class="btn btn-googleplus" data-toggle="tooltip"
                                        title="" data-original-title="Iniciar sesión con Google"> <i aria-hidden="true"
                                            class="fab  fa-google-plus"></i> </a>
                                </div>
                            </div>
                        </div>

                        <!-- Registrarse -->
                        <div class="form-group m-b-0 m-t-10">
                            <div class="col-sm-12 text-center">
                                ¿No tienes cuenta? <a href="register.html" class="text-info m-l-5"><b>Crear cuenta de
                                        usuario</b></a>
                            </div>
                        </div>

                    </form>

                    <m-00 :modal='modal' v-on:hide='hideModal'></m-00>
                    <m-02 :modal='modal' v-on:hide='hideModal'></m-02>
                    <m-03 :modal='modal' v-on:hide='hideModal'></m-03>
                    <m-04 :modal='modal' v-on:hide='hideModal' :email='email' v-on:link-click="showModal"></m-04>
                </div>
            </div>


            <div id="recoverform" class="col bg-white p-4 justify-content-center rounded-lg" style="max-width: 400px;">

                <!-- Back Button -->
                <div class="backb">
                    <a href="javascript:void(0)" id="to-recover1"><img src="assets/images/backbutton.svg" width="35px"
                            height="35px"></a>
                </div>
                <!-- LOGO -->
                <div class="text-center mb-4">
                    <img src="assets/images/logo.svg" alt="logo" class="rounded-lg" width="190px" />
                    <h5 class="font-medium m-b-20"></h5>
                    <span>Igresa tu dirección de correo para recuperar tu contraseña.</span>
                </div>


                <!-- Form -->

                <div id="recoverPasswordFormComponent">
                    <form id="recoverPasswordForm" v-on:submit="onSubmitEventListener" class="col-12">

                        <!-- email -->
                        <div class="form-group">
                            <input v-model="email" id="email" name="email" class="form-control form-control-lg"
                                type="email" placeholder="Correo electrónico">
                        </div>


                        <!-- pwd -->
                        <div class="form-group">
                            <!-- Boton crear recuperar cuenta -->
                            <button id="submit-recover" class="btn btn-block btn-lg btn-danger">Recuperar</button>
                        </div>
                    </form>
                    <m-00-2 :modal='modal' v-on:hide='hideModal'></m-00-2>
                    <m-05 :modal='modal' v-on:hide='hideModal'></m-05>
                    <m-08 :modal='modal' v-on:hide='hideModal'></m-08>

                </div>


            </div>

        </div>
    </div>

    <!-- Modal m-00 Algo saliío mal} -->
    <script type='text/x-template' id='m-00-template'>
        <div id="m-00" class="modal modal-font" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="container-fluid">
                        <button class="close p-3 position-absolute" style="right:0; z-index:1;" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="row">
                            <div class="col d-flex flex-column align-items-center justify-content-center">
                                <img src="assets/images/modals/iconcancel.svg" class="mt-4 mb-4" width="150">
                                <h1 class="mb-4">Fuera de servicio</h1>
                                <p>Por el momento no es posible completar tu solicitud. <br>
                                Por favor vuelve a intentarlo en unos minutos.</p>
                                <button
                                    class="d-flex align-items-center btn btn-primary rounded-pill p-2 mt-3 mb-5 btn-modal" data-dismiss="modal">
                                    <img src="assets/images/modals/iconcheck.svg" width="46px">
                                    <span class="ml-2 mr-2 d-inline-block" style="font-size:2rem">Aceptar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- Modal m-00-2 Algo saliío mal} -->
    <script type='text/x-template' id='m-00-2-template'>
        <div id="m-00-2" class="modal modal-font" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="container-fluid">
                        <button class="close p-3 position-absolute" style="right:0; z-index:1;" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="row">
                            <div class="col d-flex flex-column align-items-center justify-content-center">
                                <img src="assets/images/modals/iconcancel.svg" class="mt-4 mb-4" width="150">
                                <h1 class="mb-4">Fuera de servicio</h1>
                                <p>Por el momento no es posible completar tu solicitud. <br>
                                    Por favor vuelve a intentarlo en unos minutos.</p>
                                <button
                                    class="d-flex align-items-center btn btn-primary rounded-pill p-2 mt-3 mb-5 btn-modal"
                                    data-dismiss="modal">
                                    <img src="assets/images/modals/iconcheck.svg" width="46px">
                                    <span class="ml-2 mr-2 d-inline-block" style="font-size:2rem">Aceptar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- Modal m-02 Validación exitosa-->
    <script type='text/x-template' id='m-02-template'>
        <div id="m-02" class="modal modal-font" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="container-fluid">
                        <button class="close p-3 position-absolute" style="right:0; z-index:1;" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="row">
                            <div class="col d-flex flex-column align-items-center justify-content-center">
                                <img src="assets/images/modals/miconcheck.svg" class="mt-4 mb-4" width="150">
                                <h1 class="mb-4">Velidación exitosa</h1>
                                <p>Tu cuenta ha sido validada. Gracias por confiar en nosotros para encontrar tu espacio de
                                    trabajo.</p>
                                <button class="d-flex align-items-center btn btn-primary rounded-pill p-2 mt-3 mb-5"  data-dismiss="modal">
                                    <img src="assets/images/modals/miconcheckbot.svg" width="46px">
                                    <span class="ml-2 mr-2 d-inline-block" style="font-size:2rem">Aceptar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- Modal m-03 correo enviado -->
    <script type='text/x-template' id='m-03-template'>
        <div id="m-03" class="modal modal-font" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="container-fluid">
                        <button class="close p-3 position-absolute" style="right:0; z-index:1;" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="row">
                            <div class="col d-flex flex-column align-items-center justify-content-center">
                                <img src="assets/images/modals/miconcheck.svg" class="mt-4 mb-4" width="150">
                                <h1 class="mb-4">Correo enviado</h1>
                                <p>El correo de activación ha sido reenviado. <br> Revisa tu bandeja de entrada por favor.
                                </p>
                                <button class="d-flex align-items-center btn btn-primary rounded-pill p-2 mt-3 mb-5" data-dismiss="modal">
                                    <img src="assets/images/modals/miconcheckbot.svg" width="46px">
                                    <span class="ml-2 mr-2 d-inline-block" style="font-size:2rem">Aceptar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- Modal m-04 Link expirado -->
    <script type='text/x-template' id='m-04-template'>
        <div id="m-04" class="modal modal-font" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="container-fluid">
                        <button class="close p-3 position-absolute" style="right:0; z-index:1;" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="row">
                            <div class="col d-flex flex-column align-items-center justify-content-center">
                                <img src="assets/images/modals/iconcancel.svg" class="mt-4 mb-4" width="150">
                                <h1 class="mb-4">Link expirado</h1>
                                <p>El link de activación de cuenta ha expirado. <br>
                                    Haz <a href="" v-on:click.prevent='sendEmailAgain'>clic aquí</a> para reenviar</p>
                                <button class="d-flex align-items-center btn btn-primary rounded-pill p-2 mt-3 mb-5">
                                    <img src="assets/images/modals/iconcheck.svg" width="46px">
                                    <span class="ml-2 mr-2 d-inline-block" style="font-size:2rem">Aceptar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- Modal m-05 -->
    <script type='text/x-template' id='m-05-template'>
        <div id="m-05" class="modal modal-font" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="container-fluid">
                        <button class="close p-3 position-absolute" style="right:0; z-index:1;" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="row">
                            <div class="col d-flex flex-column align-items-center justify-content-center">
                                <img src="assets/images/modals/repass.svg" class="mt-4 mb-4" width="150">
                                <h1 class="mb-4">Revisa tu correo eletrónico</h1>
                                <p style="font-size: 16px;">El correo con las instrucciones para reestablecer <br> tu
                                    contraseña ya ha sido enviado, revisa tu bandeja de entrada</p>
                                <p style="font-size: 16px;">¿No recibiste el correo?<br>
                                    Da <a href="">clic aquí</a> para reenviar.</p>
                                <button
                                    class="d-flex align-items-center btn btn-primary rounded-pill p-2 mt-3 mb-5 btn-modal">
                                    <img src="assets/images/modals/miconcheckbot.svg" width="46px">
                                    <span class="ml-2 mr-2 d-inline-block" style="font-size:2rem">Aceptar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- m-07 link expirado -->
    <div id="m-07" class="modal modal-font" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="container-fluid">
                    <button class="close p-3 position-absolute" style="right:0; z-index:1;" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="row">
                        <div class="col d-flex flex-column align-items-center justify-content-center">
                            <img src="assets/images/modals/iconcancel.svg" class="mt-4 mb-4" width="150">
                            <h1 class="mb-4">Link expirado</h1>
                            <p>El link ha expirado ¿Quieres recuperar tu contraseña?<br>
                                Da <a href="">clic aquí</a> para obtener un nuevo link.</p>
                            <button
                                class="d-flex align-items-center btn btn-primary rounded-pill p-2 mt-3 mb-5 btn-modal"
                                data-dismiss="modal">
                                <img src="assets/images/modals/iconcheck.svg" width="46px">
                                <span class="ml-2 mr-2 d-inline-block" style="font-size:2rem">Aceptar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal m-08 Reenvío de e-mail -->
    <script type='text/x-template' id='m-08-template'>
        <div id="m-08" class="modal modal-font" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="container-fluid">
                        <button class="close p-3 position-absolute" style="right:0; z-index:1;" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="row">
                            <div class="col d-flex flex-column align-items-center justify-content-center">
                                <img src="assets/images/modals/repass.svg" class="mt-4 mb-4" width="150">
                                <h1 class="mb-4">Correo enviado</h1>
                                <p>El correo con las instrucciones para reestablecer <br> tu contraseña ya ha sido enviado, <br> revisa tu bandeja de entrada</p>
                                
                                <button
                                    class="d-flex align-items-center btn btn-primary rounded-pill p-2 mt-3 mb-5 btn-modal">
                                    <img src="assets/images/modals/miconcheckbot.svg" width="46px">
                                    <span class="ml-2 mr-2 d-inline-block" style="font-size:2rem">Aceptar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- ============================================================== -->
    <!-- Configuration files -->
    <!-- ============================================================== -->
    <script src="dist/config/environment.js"></script>


    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <!-- Jquery -->
    <script src="assets/libs/jquery/dist/jquery.min.js "></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Jquery validation pluging -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>

    <!-- ============================================================== -->
    <!-- Vue -->
    <!-- ============================================================== -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>


    <!-- ============================================================== -->
    <!-- Validaciones -->
    <!-- ============================================================== -->
    <script src="validations/customMethods.js"></script>
    <script src="validations/loginValidations.js"></script>
    <script src="validations/recoverPasswordValidations.js"></script>



    <!-- ============================================================== -->
    <!-- Vuex -->
    <!-- ============================================================== -->
    <script src="https://unpkg.com/vuex@3.0.1/dist/vuex.min.js "></script>


    <!-- ============================================================== -->
    <!-- Axios -->
    <!-- ============================================================== -->
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>


    <!-- ============================================================== -->
    <!-- Actions -->
    <!-- ============================================================== -->
    <script src="dist/vuex/actions/sessionActions.js"></script>
    <script src="dist/vuex/actions/userActions.js"></script>


    <!-- ============================================================== -->
    <!-- Store -->
    <!-- ============================================================== -->
    <script src="dist/vuex/store-common.js"></script>

    <script src="assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- ============================================================== -->
    <!-- Vue component -->
    <!-- ============================================================== -->
    <!-- Modals -->
    <script src="dist/components/modals/m-00.js"></script>
    <script src="dist/components/modals/m-00-2.js"></script>
    <script src="dist/components/modals/m-02.js"></script>
    <script src="dist/components/modals/m-03.js"></script>
    <script src="dist/components/modals/m-04.js"></script>
    <script src="dist/components/modals/m-05.js"></script>
    <script src="dist/components/modals/m-08.js"></script>
    <!-- Forms -->
    <script src="dist/components/loginForm.js"></script>
    <script src="dist/components/recoverPasswordForm.js"></script>


    <!-- ============================================================== -->
    <!-- Utils -->
    <!-- ============================================================== -->
    <script src="dist/components/utils/users.js"></script>
    <script src="dist/components/utils/sessions.js"></script>


    <!-- ============================================================== -->
    <!-- Flows -->
    <!-- ============================================================== -->
    <script src="dist/flows/flow_login.js"></script>
    <script src="dist/flows/flow_recoverPassword.js"></script>

    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $(".preloader").fadeOut();
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $('#to-recover').on("click", function () {
            $("#loginform").hide();
            $("#recoverform").show();
        });
    </script>

    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $(".preloader").fadeOut();
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $('#to-recover1').on("click", function () {
            $("#recoverform").hide();
            $("#loginform").show();
        });
    </script>
    <script src="main.js"></script>
</body>

</html>