<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        img {
            border-radius: 8px;
        }
    </style>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Iniciar Sesión</title>
     <!-- Bootstrap styles -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="dist/css/style.min.css" rel="stylesheet"> 
    <!-- Custom modals CSS -->
    <link href="dist/css/modal.css" rel="stylesheet">
     <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
   
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
            style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">
            <div class="auth-box">
                <div id="loginform">
                    <div class="logo">
                        <span class="db"><img src="assets/images/logo-icon-text.png" alt="logo"
                                class="light-logo" /></span>
                        <h5 class="font-medium m-b-20"></h5>
                    </div>
                    <!-- Form -->
                    <div class="row">
                        <div class="col-12">
                            <div id="">
                                <form v-on:submit.prevent="onSubmitEventListener" id="loginFormComponent" action=""
                                    class="form-horizontal m-t-20" id="loginform" action="index.html">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti-user" id="ius"></i></span>
                                        </div>
                                        <input v-model="username" type="text" id="username" name="username" class="form-control form-control-lg"
                                            placeholder="Nombre de usuario" aria-label="Username"
                                            aria-describedby="basic-addon1" pattern="[A-Za-z0-9_-]{1,15}"
                                              required >
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2"><i
                                                    class="ti-pencil" id="pen"></i></span>
                                        </div>
                                        <input v-model="password" type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Password" aria-label="Password"
                                            aria-describedby="basic-addon1" minlength="6" required>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" name="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">Recordar</label>
                                                <a href="javascript:void(0)" id="to-recover"
                                                    class="text-dark float-right"><i class="fa fa-lock m-r-5"></i>
                                                    ¿Olvidaste tu contraseña?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group text-center">
                                        <div class="col-xs-12 p-b-20">
                                            <button class="btn btn-block btn-lg btn-info" type="submit">Iniciar
                                                sesión</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                                            <div class="social">
                                                <a href="javascript:void(0)" class="btn  btn-facebook"
                                                    data-toggle="tooltip" title=""
                                                    data-original-title="Iniciar sesión con Facebook"> <i
                                                        aria-hidden="true" class="fab  fa-facebook"></i> </a>
                                                <a href="javascript:void(0)" class="btn btn-googleplus"
                                                    data-toggle="tooltip" title=""
                                                    data-original-title="Iniciar sesión con Google"> <i
                                                        aria-hidden="true" class="fab  fa-google-plus"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-0 m-t-10">
                                        <div class="col-sm-12 text-center">
                                            ¿No tienes cuenta? <a href="register.html" class="text-info m-l-5"><b>Crear
                                                    cuenta de usuario</b></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="recoverform">
                        <div class="backb">

                          <a href="login.html"> <img src="assets/images/backbutton.svg" width="35px" height="35px"></a> 
                        </div>
                        <div class="logo">
                            <span class="db"><img src="assets/images/logo-icon-text.png" alt="logo"
                                    class="light-logo" /></span>
                            <h5 class="font-medium m-b-20"></h5>
                            <span>Igresa tu dirección de correo para recuperar tu contraseña.</span>
                        </div>
                        <div class="row m-t-20">
                            <!-- Form -->
                            <form class="col-12" action="index.html">
                                <!-- email -->
                                <div class="form-group row">
                                    <div class="col-12">
                                        <input class="form-control form-control-lg" type="email" required
                                            placeholder="Correo electrónico" id="rmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                                    </div>
                                </div>
                                <!-- pwd -->
                                <div class="row m-t-20">
                                    <div class="col-12">
                                        <button class="btn btn-block btn-lg btn-danger" type="submit"
                                            name="action">Recuperar</button>
                                        <br>
                                        
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Login box.scss -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Page wrapper scss in scafholding.scss -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Page wrapper scss in scafholding.scss -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right Sidebar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right Sidebar -->
            <!-- ============================================================== -->
        </div>
    </div>
    
    <!-- Modal m-03 -->
   <div id="m-03" class="modal modal-font" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="container-fluid">
                <button class="close p-3 position-absolute" style="right:0; z-index:1;" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col d-flex flex-column align-items-center justify-content-center">
                        <img src="assets/images/modals/repass.svg" class="mt-4 mb-4" width="150">
                        <h1 class="mb-4">Restablecer contraseña</h1>
                        <p>El correo con las instrucciones para reestablecer</p>
                        <p class="m-0">tu contraseña ya ha sido enviado,</p>
                        <P>revisa tu bandeja de entrada</p>
                        <button class="d-flex align-items-center btn btn-primary rounded-pill p-2 mt-3 mb-5 btn-modal">
                            <img src="assets/images/modals/miconcheckbot.svg" width="46px">
                            <span class="ml-2 mr-2 d-inline-block" style="font-size:2rem">Aceptar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal m-03 -->
    <!-- ============================================================== -->
    <!-- Configuration files -->
    <!-- ============================================================== -->
    <script src="dist/config/environment.js"></script>


    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="assets/libs/jquery/dist/jquery.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>

    <!-- ============================================================== -->
    <!-- Vue -->
    <!-- ============================================================== -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>


    <!-- ============================================================== -->
    <!-- Validaciones -->
    <!-- ============================================================== -->
    <script src="validations/customMethods.js"></script>
    <script src="validations/loginValidations.js"></script>


    <!-- ============================================================== -->
    <!-- Vuex -->
    <!-- ============================================================== -->
    <script src="https://unpkg.com/vuex@3.0.1/dist/vuex.min.js "></script>


    <!-- ============================================================== -->
    <!-- Axios -->
    <!-- ============================================================== -->
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>


    <!-- ============================================================== -->
    <!-- Actions -->
    <!-- ============================================================== -->
    <script src="dist/vuex/actions/sessionActions.js"></script>
    <script src="dist/vuex/actions/userActions.js"></script>


    <!-- ============================================================== -->
    <!-- Store -->
    <!-- ============================================================== -->
    <script src="dist/vuex/store-common.js"></script>


    <!-- ============================================================== -->
    <!-- Vue component -->
    <!-- ============================================================== -->
    <script src="dist/components/loginFormComponent.js"></script>


    <!-- ============================================================== -->
    <!-- Utils -->
    <!-- ============================================================== -->
    <script src="dist/components/utils/users.js"></script>
    <script src="dist/components/utils/sessions.js"></script>


    <!-- ============================================================== -->
    <!-- Flows -->
    <!-- ============================================================== -->
    <script src="dist/flows/flow_login.js"></script>


    <!-- Bootstrap tether Core JavaScript -->
    <script src="assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $(".preloader").fadeOut();
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $('#to-recover').on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
    </script>
    <script src="main.js"></script>
</body>

</html>