<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        img {
            border-radius: 8px;
        }
    </style>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Iniciar Sesión</title>
     <!-- Bootstrap styles -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="dist/css/style.min.css" rel="stylesheet"> 
    <link href="dist/css/spinners.css" rel="stylesheet">
    <!-- Custom modals CSS -->
    <link href="dist/css/modal.css" rel="stylesheet">
     <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
   
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    
        <!-- SPINNER DE CARGAR -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
        <!-- IMAGEN DE FONDO -->
    <div class="position-fixed vw-100 vh-100" style="background:url(assets/images/big/auth-bg.jpg) no-repeat center">
    </div>

    
    <div class="auth-wrapper auth-box row  align-items-center justify-content-center vh-100 vw-100 no-gutters">

        <div>
       <!-- CAJA -->
        <div id="loginform" class="col bg-white p-4 justify-content-center rounded-lg" style="min-width: 400px; max-width: 400px;">

            <!-- LOGO -->
            <div class="text-center mb-4">
                <img src="assets/images/logo.svg" alt="logo" class="rounded-lg" width="190px"/>
            </div>


            <!-- FORMULARIO -->
            <form v-on:submit="onSubmitEventListener" id="loginFormComponent" action="index.html">
                   
                <!-- NOMBRE DE USUARIO -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i
                                    class="ti-user" id="ius"></i></span>
                        </div>
                        <input v-model="username" id="username" name="username" class="form-control form-control-lg" type="text" placeholder="Nombre de usuario">
                           
                    </div>
                    <!-- CONTRASEÑA -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2"><i
                                    class="ti-pencil" id="pen"></i></span>
                        </div>
                        <input v-model="password" id="password" name="password" class="form-control form-control-lg" type="password" placeholder="Contraseña">
                        
                        
                    </div>
                                    
                    <!-- Recordar cuenta / olvidaste tu pass-->
                                 
                                   
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Recordar</label>
                                <a href="javascript:void(0)" id="to-recover"
                                class="text-dark float-right"><i class="fa fa-lock m-r-5"></i>
                                    ¿Olvidaste tu contraseña?</a>
                            </div>
                        </div>
                    </div>
            <!-- BOTONES -->
                <div class="form-group">
                    <!-- Boton crear cuenta -->
                    <button class="btn btn-block btn-lg btn-info" data-toggle="modal">Iniciar sesión</button>
                </div>

            <!-- Redes Sociales -->                    
            <div class="form-group">
                    <div class="row">
                            <div class="col-md-12 m-t-10 text-center">
                            <a href="javascript:void(0)" class="btn  btn-facebook"
                                data-toggle="tooltip" title=""
                                data-original-title="Iniciar sesión con Facebook"> <i
                                    aria-hidden="true" class="fab  fa-facebook"></i> </a>
                            <a href="javascript:void(0)" class="btn btn-googleplus"
                                data-toggle="tooltip" title=""
                                data-original-title="Iniciar sesión con Google"> <i
                                    aria-hidden="true" class="fab  fa-google-plus"></i> </a>
                        </div>
                    </div>
                </div>
                            
            <!-- Registrarse -->           
                <div class="form-group m-b-0 m-t-10">
                    <div class="col-sm-12 text-center">
                        ¿No tienes cuenta? <a href="register.html" class="text-info m-l-5"><b>Crear cuenta de usuario</b></a>
                        </div>
                    </div>

            </form>
        </div>
    
                    
                    <div id="recoverform" class="col bg-white p-4 justify-content-center rounded-lg" style="max-width: 400px;">
                         
                        <!-- Back Button --> 
                        <div class="backb">
                            <a href="javascript:void(0)" id="to-recover1"><img src="assets/images/backbutton.svg" width="35px" height="35px"></a> 
                        </div>
                        <!-- LOGO -->
                            <div class="text-center mb-4">
                                <img src="assets/images/logo.svg" alt="logo" class="rounded-lg" width="190px"/>
                                <h5 class="font-medium m-b-20"></h5>
                                <span>Igresa tu dirección de correo para recuperar tu contraseña.</span>
                            </div>
                        
                        
                            <!-- Form -->
                            <form class="col-12" action="index.html">
                                <!-- email -->
                                
                                        <div class="form-group">
                                            <input v-model="email" id="email" name="email" class="form-control form-control-lg" type="email" placeholder="Correo electrónico">
                                        </div>
                            
                                
                                <!-- pwd -->
                                <div class="row m-t-20">
                                    <div class="col-12">
                                        <button class="btn btn-block btn-lg btn-danger" type="submit"
                                            name="action">Recuperar</button>
                                        <br>
                                        
                                    </div>
                                </div>
                            </form>
                        
                    </div>

                </div>       
    </div>         
            <!-- ============================================================== -->
            <!-- Login box.scss -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Page wrapper scss in scafholding.scss -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Page wrapper scss in scafholding.scss -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right Sidebar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right Sidebar -->
            <!-- ============================================================== -->
    
    
    <!-- Modal m-03 -->
   <div id="m-03" class="modal modal-font" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="container-fluid">
                <button class="close p-3 position-absolute" style="right:0; z-index:1;" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col d-flex flex-column align-items-center justify-content-center">
                        <img src="assets/images/modals/repass.svg" class="mt-4 mb-4" width="150">
                        <h1 class="mb-4">Restablecer contraseña</h1>
                        <p>El correo con las instrucciones para reestablecer</p>
                        <p class="m-0">tu contraseña ya ha sido enviado,</p>
                        <P>revisa tu bandeja de entrada</p>
                        <button class="d-flex align-items-center btn btn-primary rounded-pill p-2 mt-3 mb-5 btn-modal">
                            <img src="assets/images/modals/miconcheckbot.svg" width="46px">
                            <span class="ml-2 mr-2 d-inline-block" style="font-size:2rem">Aceptar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal m-03 -->

<!-- Modal m-11 -->
<div id="m-11" class="modal modal-font" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="container-fluid">
                <button class="close p-3 position-absolute" style="right:0; z-index:1;" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col d-flex flex-column align-items-center justify-content-center">
                        <img src="assets/images/modals/miconcheck.svg" class="mt-4 mb-4" width="150">
                        <h1 class="mb-4">¡Felicidades!</h1>
                        <p>Tu correo ha sido verificado correctamente,
                        ahora ya puedes iniciar sesión</p>
                        <button class="d-flex align-items-center btn btn-primary rounded-pill p-2 mt-3 mb-5 btn-modal">
                            <img src="assets/images/modals/miconcheckbot.svg" width="46px">
                            <span class="ml-2 mr-2 d-inline-block" style="font-size:2rem">Aceptar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal m-11 -->
    <!-- ============================================================== -->
    <!-- Configuration files -->
    <!-- ============================================================== -->
    <script src="dist/config/environment.js"></script>


    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="assets/libs/jquery/dist/jquery.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>

    <!-- ============================================================== -->
    <!-- Vue -->
    <!-- ============================================================== -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>


    <!-- ============================================================== -->
    <!-- Validaciones -->
    <!-- ============================================================== -->
    <script src="validations/customMethods.js"></script>
    <script src="validations/loginValidations.js"></script>


    <!-- ============================================================== -->
    <!-- Vuex -->
    <!-- ============================================================== -->
    <script src="https://unpkg.com/vuex@3.0.1/dist/vuex.min.js "></script>


    <!-- ============================================================== -->
    <!-- Axios -->
    <!-- ============================================================== -->
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>


    <!-- ============================================================== -->
    <!-- Actions -->
    <!-- ============================================================== -->
    <script src="dist/vuex/actions/sessionActions.js"></script>
    <script src="dist/vuex/actions/userActions.js"></script>


    <!-- ============================================================== -->
    <!-- Store -->
    <!-- ============================================================== -->
    <script src="dist/vuex/store-common.js"></script>


    <!-- ============================================================== -->
    <!-- Vue component -->
    <!-- ============================================================== -->
    <script src="dist/components/loginFormComponent.js"></script>


    <!-- ============================================================== -->
    <!-- Utils -->
    <!-- ============================================================== -->
    <script src="dist/components/utils/users.js"></script>
    <script src="dist/components/utils/sessions.js"></script>


    <!-- ============================================================== -->
    <!-- Flows -->
    <!-- ============================================================== -->
    <script src="dist/flows/flow_login.js"></script>


    <!-- Bootstrap tether Core JavaScript -->
    <script src="assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $(".preloader").fadeOut();
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $('#to-recover').on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
    </script>

    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $(".preloader").fadeOut();
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $('#to-recover1').on("click", function () {
            $("#recoverform").slideUp();
            $("#loginform").fadeIn();
        });
    </script>
    <script src="main.js"></script>
</body>

</html>