<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Crear cuenta</title>

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="dist/css/modal.css" rel="stylesheet">
    <link href="dist/css/spinners.css" rel="stylesheet">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i"
        rel="stylesheet">
</head>

<body>
    <!-- SPINNER DE CARGAR -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <!-- IMAGEN DE FONDO -->
    <div class="position-fixed vw-100 vh-100" style="background:url(assets/images/big/auth-bg.jpg) no-repeat center">
    </div>


    <div class="row align-items-center justify-content-center vh-100 vw-100 no-gutters">

        <!-- CAJA -->
        <div class="col bg-white p-4 justify-content-center rounded-lg" style="max-width: 400px;">

            <!-- LOGO -->
            <div class="text-center mb-4">
                <img src="assets/images/logo.svg" alt="logo" class="rounded-lg" width="190px"/>
            </div>


            <!-- FORMULATIO -->
            <form v-on:submit="onSubmitEventListener" id="registerFormComponent">
                <!-- NOMBRE DE USUARIO -->
                <div class="form-group">
                    <input v-model="username" id="username" name="username" class="form-control form-control-lg"
                        type="text" placeholder="Nombre de usuario">
                </div>

                <!-- EMAIL -->
                <div class="form-group">
                    <input v-model="email" id="email" name="email" class="form-control form-control-lg"
                        type="email" placeholder="Correo electrónico">
                </div>

                <!-- CONTRASEÑA -->
                <div class="form-group">
                    <input v-model="password" id="password" name="password" class="form-control form-control-lg"
                        type="password" placeholder="Contraseña">
                </div>

                <!-- CONFIRMACION DE CONTRASEÑA -->
                <div class="form-group">
                    <input v-model="passwordConfirmation" id="password_confiramtion" name="password_confiramtion"
                        class="form-control form-control-lg" type="password" required
                        placeholder="Confirmar contraseña">
                </div>

                <!-- TERMINOS Y CONDICIONES -->
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input v-model="termsAndConditions" type="checkbox" class="custom-control-input"
                            id="terms" name="terms">
                        <label class="custom-control-label" for="terms">Acepto <a href="javascript:void(0)">Términos y
                                condiciones</a></label>
                    </div>
                </div>

                <!-- BOTONES -->
                <div class="form-group">
                    <!-- Boton crear cuenta -->
                    <button class="btn btn-block btn-lg btn-primary" data-toggle="modal">Crear
                        cuenta</button>
                </div>
            </form>

            <!-- ¿YA TIENES UNA CUENTA? -->
            <p class="text-center m-0">
                ¿Ya tienes cuenta?
                <a href="login.html" class="text-info m-l-5 ">
                    <b>Iniciar sesión</b>
                </a>
            </p>

        </div>
    </div>

    <!-- Modal m-01 -->
    <div id="m-01" class="modal modal-font" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="container-fluid">
                    <button class="close p-3 position-absolute" style="right:0; z-index:1;" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="row">
                        <div class="col d-flex flex-column align-items-center justify-content-center">
                            <img src="assets/images/modals/miconcheck.svg" class="mt-4 mb-4" width="150">
                            <h1 class="mb-4">Registro exitoso</h1>
                            <p>En breve recibirás un correo para activar tu cuenta</p>
                            <p class="m-0">Si no recibiste un correo de activación</p>
                            <P>haz <a href="">clic aquí</a> para reenviar</p>
                            <button class="d-flex align-items-center btn btn-primary rounded-pill p-2 mt-3 mb-5">
                                <img src="assets/images/modals/miconcheckbot.svg" width="46px">
                                <span class="ml-2 mr-2 d-inline-block" style="font-size:2rem">Aceptar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Configuration files -->
    <!-- ============================================================== -->
    <script src="dist/config/environment.js"></script>



    <!-- ============================================================== -->
    <!-- jQuery AND jQuery Validate -->
    <!-- ============================================================== -->
    <script src="assets/libs/jquery/dist/jquery.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>


    <!-- ============================================================== -->
    <!-- Vue -->
    <!-- ============================================================== -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>


    <!-- ============================================================== -->
    <!-- Validaciones -->
    <!-- ============================================================== -->
    <script src="validations/customMethods.js"></script>
    <script src="validations/registerValidations.js"></script>

    <!-- ============================================================== -->
    <!-- Vuex -->
    <!-- ============================================================== -->
    <script src="https://unpkg.com/vuex@3.0.1/dist/vuex.min.js "></script>


    <!-- ============================================================== -->
    <!-- Axios -->
    <!-- ============================================================== -->
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>


    <!-- ============================================================== -->
    <!-- Actions -->
    <!-- ============================================================== -->
    <script src="dist/vuex/actions/sessionActions.js"></script>
    <script src="dist/vuex/actions/userActions.js"></script>


    <!-- ============================================================== -->
    <!-- Store -->
    <!-- ============================================================== -->
    <script src="dist/vuex/store-common.js"></script>


    <!-- ============================================================== -->
    <!-- Vue component -->
    <!-- ============================================================== -->
    <script src="dist/components/registerFormComponent.js"></script>


    <!-- ============================================================== -->
    <!-- Utils -->
    <!-- ============================================================== -->
    <script src="dist/components/utils/users.js"></script>
    <script src="dist/components/utils/sessions.js"></script>


    <!-- ============================================================== -->
    <!-- Flows -->
    <!-- ============================================================== -->
    <script src="dist/flows/flow_register.js"></script>


    <!-- ============================================================== -->
    <!-- Bootstrap -->
    <!-- ============================================================== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
        $('[data-toggle="tooltip "]').tooltip();
        $(".preloader ").fadeOut();
    </script>
</body>

</html>